<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/user_dashboard.css">
    <link href='/static/bootstrap/css/bootstrap.css' rel='stylesheet'>
    <link href='/static/fontawesome/css/all.css' rel='stylesheet'>
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details ">
      <img src="/static/imgs/logo2.png"  alt="event logo" class="img-fluid" width="200" height="90">
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class="fa-solid fa-house"></i>
            <span class="links_name">Home</span>
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <i class="fa-solid fa-table-columns"></i>
            <span class="links_name">My Profile</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="links_name">Purchase Products</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('update_profile')}}">
            <i class="fa-solid fa-pen-to-square"></i>
            <span class="links_name">Update Profile</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-comment-dots"></i>
            <span class="links_name">Start A Conversation</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('store')}}">
            <i class="fas fa-comment-dots"></i>
            <span class="links_name">Visit a Store</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class="fa-solid fa-check"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="fa-solid fa-bars"></i>
        {% block header%}
        
        {% endblock %}
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
      </div>
      <div class="profile-details">
        
        <span class="admin_name">User</span>
        {%if deets and deets.user_image%}
          <img src="/static/upload/{{deets.user_image}}">
        {%else%}
        <i class="fa-solid fa-user"></i>
        {%endif%}
        
      </div>
    </nav>

    <div class="home-content">
     {% block content%}
     {% endblock content%}
    </div>
  </section>
  <script type='text/javascript' src='/static/js/jquery-3.6.1.min.js'></script>
  
      {%block customjs%}
      
      {%endblock%}
   

</body>
</html>

