<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="/static/admin_dashboard.css">
    <!-- Boxicons CDN Link -->
    <link href='/static/bootstrap/css/bootstrap.css' rel='stylesheet'>
    <link href='/static/fontawesome/css/all.css' rel='stylesheet'>


   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <img src="/static/image/logo.png"  alt="event logo" class="img-fluid" width="200" height="150">
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class="fa-solid fa-table-columns"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('add_product')}}">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="links_name">Product</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-list"></i>
            <span class="links_name">Order list</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-chart-simple"></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-pen-to-square"></i>
            <span class="links_name">Total order</span>
          </a>
        </li>
          
        <li class="log_out">
          <a href="{{url_for('admin_logout')}}">
            <i class="fa-solid fa-check"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="fa-solid fa-bars"></i>
        {%block header%}

        {%endblock%}
      
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
      </div>
      <div class="profile-details">
        
        <span class="admin_name">The Admin</span>
        <i class="fa-solid fa-user"></i>
      </div>
    </nav>

    <div class="home-content">
        {%block content%}

        {%endblock%}
      
    </div>
  </section>
  <script type='text/javascript' src='js/jquery-3.6.1.min.js'></script>
  <script>
    
 
  </script>  

</body>
</html>

